body {
  background-color: gainsboro;
  text-align: center;
}

.results-table {
  background-color: aliceblue;
  width: fit-content;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  &-header {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    background-image: linear-gradient(ghostwhite, silver);

    &-item {
      padding: 10px 0px 30px 10px;
      margin-right: 10px;
    }

    :nth-child(1) {
      width: 40px;
    }

    :nth-child(2) {
      width: 300px;
    }

    :nth-child(3) {
      width: 60px;
    }

    :nth-child(4) {
      width: 300px;
    }
  }

  &-body {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
  }

  &-row {
    display: flex;
    background-image: linear-gradient(ghostwhite, gainsboro);

    &:last-child {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:not(:first-child) {
      border-top: 1px solid gray;
    }

    &-crest {
      margin: auto;
      min-width: max-content;
      min-height: max-content;
    }

    &:nth-child(1) {
      height: 100px;
      background-image: linear-gradient(goldenrod, khaki, orange, sienna);
    }

    &:nth-child(2) {
      height: 100px;
      background-image: linear-gradient(darkgray, white, silver, gray);
    }

    &:nth-child(3) {
      height: 100px;
      background-image: linear-gradient(#d2691e, #e0b690, #c97222, #935c29);

    }

    :nth-child(1) {
      width: 40px;
    }

    :nth-child(2) {
      display: flex;
      align-content: baseline;
      width: 300px;
    }

    :nth-child(3) {
      width: 60px;
    }

    :nth-child(4) {
      width: 300px;
    }
  }
  
  &-cell {
    margin: auto 10px auto;

    &-team-name {
      margin: auto 10px auto;
      min-width: max-content;
    }

    img {
      background-color: black;
      min-width: 70px;
      min-height: 70px;
      border: 1px solid silver;
    }
  }

}

