body {
  background-color: gainsboro;
  text-align: center;
}

.results-table {
  background-color: aliceblue;
  width: fit-content;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  &-header {
    display: flex;
    padding: 10px 0px 30px 10px;
    border: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    background-image: linear-gradient(ghostwhite, silver);

    &-item {
      margin-right: 10px;
    }

    :nth-child(1) {
      width: 40px;
    }

    :nth-child(2) {
      width: 300px;
    }

    :nth-child(3) {
      width: 60px;
    }

    :nth-child(4) {
      width: 300px;
    }
  }

  &-body {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
  }

  &-row {
    display: flex;
    padding-bottom: 10px;
    background-image: linear-gradient(ghostwhite, gainsboro);

    &:not(:first-child) {
      border-top: 1px solid gray;
    }

    &-item {
      margin-top: 10px;
      margin-left: 10px;
    }

    &:nth-child(1) {
      height: 70px;
      background-image: linear-gradient(goldenrod, khaki, orange, sienna);
    }

    &:nth-child(2) {
      height: 70px;
      background-image: linear-gradient(darkgray, white, silver, gray);
    }

    &:nth-child(3) {
      height: 70px;
      background-image: linear-gradient(#d2691e, #e0b690, #c97222, #935c29);

    }

    :nth-child(1) {
      width: 40px;
    }

    :nth-child(2) {
      width: 300px;
    }

    :nth-child(3) {
      width: 60px;
    }

    :nth-child(4) {
      width: 300px;
    }
  }
}

